/* @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.Heading{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Tektur", sans-serif;
}
.h1{
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
   }